<div class="row justify-content-center">
  <ngb-tabset class="col-8">
    <div>
      <ngb-tab class="" title="Create or edit a Access List">
        <ng-template ngbTabContent>
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-access-list-heading">Create or edit a Access List</h2>
            <div>
              <jhi-alert-error></jhi-alert-error>

              <div class="form-group">
                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                <input required type="text" class="form-control" name="msisdn" id="field_msisdn" formControlName="msisdn" />
                <div *ngIf="editForm.get('msisdn')!.invalid && (editForm.get('msisdn')!.dirty || editForm.get('msisdn')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('msisdn')?.errors?.required">
                    This field is required.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="field_cin">Cin</label>
                <input required type="text" class="form-control" name="cin" id="field_cin" formControlName="cin" />
                <div *ngIf="editForm.get('cin')!.invalid && (editForm.get('cin')!.dirty || editForm.get('cin')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('cin')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="field_firstName">First Name</label>
                <input required type="text" class="form-control" name="firstName" id="field_firstName" formControlName="firstName" />
                <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="field_lastName">Last Name</label>
                <input required type="text" class="form-control" name="lastName" id="field_lastName" formControlName="lastName" />
                <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="field_email">Email</label>
                <input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
              </div>

              <div class="form-group">
                <label class="form-control-label" for="field_status">Status</label>
                <select class="form-control" name="status" formControlName="status" id="field_status" required>
                  <option value="BLACKLISTED">BLACKLISTED</option>
                  <option value="WHITELISTED">WHITELISTED</option>
                </select>
                <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
              </div>
            </div>

            <div>
              <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
              </button>

              <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
              </button>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </div>

    <ngb-tab title="Create a Access List Bulk ">
      <ng-template ngbTabContent>
        <div *ngIf="alert" class="alert alert-danger" role="alert">
          {{ alert }}
        </div>
        <form #form (ngSubmit)="uploadFile()">
          <h2>
            <input
              class="form-control"
              style="size: 10px;"
              disabled
              placeholder="Format fichier Excel (.xlsx):  msisdn, cni, fname, lname, email, status(possible values: WHITELISTED or BLACKLISTED) "
            />
          </h2>
          <div class="form-group">
            <input (change)="onFileChange($event)" class="btn" name="file" type="file" />
            <div [hidden]="isNotValidFormat">
              <i class="text-danger">Format du fichier invalid. Veuillez choisir un fichier excel</i>
            </div>
          </div>
          <div>
            <!-- <button (click)="previousState()" class="btn btn-secondary" type="button">
                      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button> -->
            <button [disabled]="disable" class="btn btn-success" type="submit">
              <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Charger</span> 
            </button>
            <fa-icon [hidden]="!loading" [icon]="'sync'"></fa-icon>
          </div>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
