<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accessList">
            <h2><span>Access List</span> {{ accessList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{ accessList.msisdn }}</span>
                </dd>
                <dt><span>Cin</span></dt>
                <dd>
                    <span>{{ accessList.cin }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ accessList.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ accessList.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ accessList.email }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ accessList.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/access-list', accessList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
