<div>
    <h2 id="page-heading">
        <span>Access Lists</span>


    </h2>

    <div class="row">
        <div class="col">
            <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn">
        </div>
        <div class="col">
            <input type="text" [(ngModel)]="cin"  class="form-control" placeholder="Numéro CIN">
        </div>
        <div class="col">
        <select class="form-control" [(ngModel)]="status" name="status" id="field_status">
            <option [value]="'BLACKLISTED'">BLACKLISTED</option>
            <option [value]="'WHITELISTED'">WHITELISTED</option>
        </select>
        </div>
        <div class="col">
            <button id="jh-search-entity" class="btn btn-primary" type="submit" (click)="loadPageSearch()">
                <fa-icon icon="search"></fa-icon>
                <span>
            Rechercher
            </span>
            </button>
            <button id="jh-search-entity" class="btn btn-danger" type="submit" (click)="reset()">
                <span>
            Refresh
            </span>
            </button>
        </div>
    </div>
    <br>
    <button *jhiHasAnyAuthority="['ROLE_MFS_ADMIN']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-access-list" [routerLink]="['/access-list/new']">
        <fa-icon icon="plus"></fa-icon>
        <span>
        Create a new Access List
        </span>
    </button>
    <p>
        <br> <br>
    </p>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accessLists?.length === 0">
        <span>No accessLists found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accessLists?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cin"><span>Cin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accessList of accessLists ;trackBy: trackId">
                    <td><a [routerLink]="['/access-list', accessList.id, 'view']">{{ accessList.id }}</a></td>
                    <td>{{ accessList.msisdn }}</td>
                    <td>{{ accessList.cin }}</td>
                    <td>{{ accessList.firstName }}</td>
                    <td>{{ accessList.lastName }}</td>
                    <td>{{ accessList.email }}</td>
                    <td>{{ accessList.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/access-list', accessList.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/access-list', accessList.id, 'edit']"
                                    class="btn btn-primary btn-sm" *jhiHasAnyAuthority="['ROLE_MFS_ADMIN']">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accessList)"
                                    class="btn btn-danger btn-sm" *jhiHasAnyAuthority="['ROLE_MFS_ADMIN']">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>

                            <!--<div class="btn-group" *ngIf="accessList.status=='WHITELISTED'" >
                                <button type="submit" (click)="blackOrWhite(accessList)"
                                        class="btn btn-warning btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline">BlackList</span>
                                </button>
                            </div>
                            <div class="btn-group" *ngIf="accessList.status=='BLACKLISTED'" >
                                <button type="submit"
                                        (click)="blackOrWhite(accessList)"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline">WhiteList</span>
                                </button>
                            </div>-->



                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="accessLists?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
