<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uMETransfer">
            <h2><span>UME Transfer</span> {{ uMETransfer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Source Wallet</span></dt>
                <dd>
                    <span>{{ uMETransfer.sourceWallet }}</span>
                </dd>
                <dt><span>Target Wallet</span></dt>
                <dd>
                    <span>{{ uMETransfer.targetWallet }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ uMETransfer.amount }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ uMETransfer.type }}</span>
                </dd>
                <dt><span>Payment State</span></dt>
                <dd>
                    <span>{{ uMETransfer.paymentState }}</span>
                </dd>
                <dt><span>Payment Tx Id</span></dt>
                <dd>
                    <span>{{ uMETransfer.paymentTxId }}</span>
                </dd>
                <dt><span>Payment Message</span></dt>
                <dd>
                    <span>{{ uMETransfer.paymentMessage }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ uMETransfer.createdDate }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ uMETransfer.lastModifiedDate }}</span>
                </dd>
                <dt><span>Loan File</span></dt>
                <dd>
                    <div *ngIf="uMETransfer.loanFileId">
                        <a [routerLink]="['/loan-file', uMETransfer.loanFileId, 'view']">{{ uMETransfer.loanFileId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/ume-transfer', uMETransfer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>-->
        </div>
    </div>
</div>
