<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ume-transfer-heading">Create or edit a UME Transfer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sourceWallet">Source Wallet</label>
                    <input type="text" class="form-control" name="sourceWallet" id="field_sourceWallet"
                           formControlName="sourceWallet"/>
                    <div *ngIf="editForm.get('sourceWallet')!.invalid && (editForm.get('sourceWallet')!.dirty || editForm.get('sourceWallet')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sourceWallet')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_targetWallet">Target Wallet</label>
                    <input type="text" class="form-control" name="targetWallet" id="field_targetWallet"
                           formControlName="targetWallet"/>
                    <div *ngIf="editForm.get('targetWallet')!.invalid && (editForm.get('targetWallet')!.dirty || editForm.get('targetWallet')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('targetWallet')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="FEES_TRANSFER">FEES_TRANSFER</option>
                        <option value="LOAN_TRANSFER">LOAN_TRANSFER</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentState">Payment State</label>
                    <select class="form-control" name="paymentState" formControlName="paymentState" id="field_paymentState">
                        <option value="PENDING">PENDING</option>
                        <option value="SUCCESS">SUCCESS</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTxId">Payment Tx Id</label>
                    <input type="text" class="form-control" name="paymentTxId" id="field_paymentTxId"
                           formControlName="paymentTxId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentMessage">Payment Message</label>
                    <input type="text" class="form-control" name="paymentMessage" id="field_paymentMessage"
                           formControlName="paymentMessage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_loanFile">Loan File</label>
                    <select class="form-control" id="field_loanFile" name="loanFile" formControlName="loanFileId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="loanFileOption.id" *ngFor="let loanFileOption of loanfiles; trackBy: trackById">{{ loanFileOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
