<div>
    <h2 id="page-heading">
        <span>UME Transfers</span>

        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ume-transfer" [routerLink]="['/ume-transfer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new UME Transfer
            </span>
        </button>-->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="uMETransfers?.length === 0">
        <span>No uMETransfers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="uMETransfers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sourceWallet"><span>Source Wallet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="targetWallet"><span>Target Wallet</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentTxId"><span>Payment Tx Id</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="paymentMessage"><span>Payment Message</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="loanFileId"><span>Loan File</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentState"><span>Payment State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let uMETransfer of uMETransfers ;trackBy: trackId">
                    <td><a [routerLink]="['/ume-transfer', uMETransfer.id, 'view']">{{ uMETransfer.id }}</a></td>
                    <td>{{ uMETransfer.sourceWallet }}</td>
                    <td>{{ uMETransfer.targetWallet }}</td>
                    <td>{{ uMETransfer.amount }}</td>
                    <td>{{ uMETransfer.type }}</td>
                    <td>{{ uMETransfer.paymentTxId }}</td>
<!--                    <td>{{ uMETransfer.paymentMessage }}</td>-->
<!--                    <td>-->
<!--                        <div *ngIf="uMETransfer.loanFileId">-->
<!--                            <a [routerLink]="['/loan-file', uMETransfer.loanFileId , 'view']" >{{ uMETransfer.loanFileId }}</a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>{{ uMETransfer.createdDate }}</td>
                    <td>{{ uMETransfer.lastModifiedDate }}</td>
                    <td>{{ uMETransfer.paymentState }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ume-transfer', uMETransfer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!--<button type="submit"
                                    [routerLink]="['/ume-transfer', uMETransfer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(uMETransfer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="uMETransfers?.length > 0 && !loanfileID">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
