<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offer-heading">Create or edit a Offer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                </div>
                <div class="btn-group btn-group-toggle">
                    <label [ngClass]="editForm.value['activated'] ? 'btn-success':'btn-danger'" ngbButtonLabel>
                        <input type="checkbox" formControlName="activated"
                               ngbButton> {{editForm.value['activated'] ? 'Activé' : 'Desactivé'}}
                    </label>
                </div>
                <fieldset>
                    <legend>
                        <div>
                            <span>Informations de l'offre</span>
                        </div>
                    </legend>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label class="form-control-label" for="field_tenantId">Tenant Id</label>
                                <input type="text" class="form-control" name="tenantId" id="field_tenantId" disabled
                                       formControlName="tenantId"/>
                                <div
                                    *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('tenantId')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('tenantId')?.errors?.minlength">
                                        At least 3 characters
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_offerName">Nom de l'offre</label>
                                <input type="text" class="form-control" name="offerName" id="field_offerName"
                                       (keyup)="updateTenantId()" formControlName="offerName"/>
                                <div
                                    *ngIf="editForm.get('offerName')!.invalid && (editForm.get('offerName')!.dirty || editForm.get('offerName')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('offerName')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('offerName')?.errors?.minlength">
                                        At least 3 characters
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_defaultLoanDuration">Durée par défaut du
                                    pret</label>
                                <input type="number" class="form-control" name="defaultLoanDuration"
                                       id="field_defaultLoanDuration"
                                       formControlName="defaultLoanDuration"/>

                                <div
                                    *ngIf="editForm.get('defaultLoanDuration')!.invalid && (editForm.get('defaultLoanDuration')!.dirty || editForm.get('defaultLoanDuration')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('defaultLoanDuration')?.errors?.min && editForm.get('defaultLoanDuration')?.errors?.max">
                                        Should be between 1 and 999 months
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_nbJourPr1">Nombre de jour pR1</label>
                                <input type="number" class="form-control" name="nbJourPr1"
                                       id="field_nbJourPr1"
                                       formControlName="nbJourPr1"/>

                                <div
                                    *ngIf="editForm.get('nbJourPr1')!.invalid && (editForm.get('nbJourPr1')!.dirty || editForm.get('nbJourPr1')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('nbJourPr1')?.errors?.min && editForm.get('nbJourPr1')?.errors?.max">
                                        Should be between 1 and 365 days
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_nbJourPr2">Nombre de jour pR2</label>
                                <input type="number" class="form-control" name="nbJourPr2"
                                       id="field_nbJourPr2"
                                       formControlName="nbJourPr2"/>

                                <div
                                    *ngIf="editForm.get('nbJourPr2')!.invalid && (editForm.get('nbJourPr2')!.dirty || editForm.get('nbJourPr2')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('nbJourPr2')?.errors?.min && editForm.get('nbJourPr2')?.errors?.max">
                                        Should be between 1 and 365 days
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_rappelPr0">Rappel pR0</label>
                                <input type="number" class="form-control" name="rappelPr0"
                                       id="field_rappelPr0"
                                       formControlName="rappelPr0"/>

                                <div
                                    *ngIf="editForm.get('rappelPr0')!.invalid && (editForm.get('rappelPr0')!.dirty || editForm.get('rappelPr0')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('rappelPr0')?.errors?.min && editForm.get('rappelPr0')?.errors?.max">
                                        Should be between 1 and 999 months
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_rappelPr1">Rappel pR1</label>
                                <input type="number" class="form-control" name="rappelPr1"
                                       id="field_rappelPr1"
                                       formControlName="rappelPr1"/>

                                <div
                                    *ngIf="editForm.get('rappelPr1')!.invalid && (editForm.get('rappelPr1')!.dirty || editForm.get('rappelPr1')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('rappelPr1')?.errors?.min && editForm.get('rappelPr1')?.errors?.max">
                                        Should be between 1 and 365 days
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_rappelPr2">Rappel pR2</label>
                                <input type="number" class="form-control" name="rappelPr2"
                                       id="field_rappelPr2"
                                       formControlName="rappelPr2"/>

                                <div
                                    *ngIf="editForm.get('rappelPr2')!.invalid && (editForm.get('rappelPr2')!.dirty || editForm.get('rappelPr2')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('rappelPr2')?.errors?.min && editForm.get('rappelPr2')?.errors?.max">
                                        Should be between 1 and 999 months
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_totalFeesRate">Taux frais de
                                    dossier</label>
                                <input type="number" class="form-control" name="totalFeesRate" id="field_totalFeesRate"
                                       formControlName="totalFeesRate"/>
                                <div
                                    *ngIf="editForm.get('totalFeesRate')!.invalid && (editForm.get('totalFeesRate')!.dirty || editForm.get('totalFeesRate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('totalFeesRate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('totalFeesRate')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('totalFeesRate')?.errors?.min && !editForm.get('totalFeesRate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_feesFreeMoneyRate">Taux frais freemoney</label>
                                <input type="number" class="form-control" name="pr0Rate" id="field_feesFreeMoneyRate"
                                       formControlName="feesFreeMoneyRate"/>
                                <div
                                    *ngIf="editForm.get('feesFreeMoneyRate')!.invalid && (editForm.get('feesFreeMoneyRate')!.dirty || editForm.get('feesFreeMoneyRate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesFreeMoneyRate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('feesFreeMoneyRate')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('feesFreeMoneyRate')?.errors?.min && !editForm.get('feesFreeMoneyRate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_feesBankRate">Taux frais banque</label>
                                <input type="number" class="form-control" name="totalFeesRate" id="field_feesBankRate"
                                       formControlName="feesBankRate"/>
                                <div
                                    *ngIf="editForm.get('feesBankRate')!.invalid && (editForm.get('feesBankRate')!.dirty || editForm.get('feesBankRate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesBankRate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('feesBankRate')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('feesBankRate')?.errors?.min && !editForm.get('feesBankRate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_pr0Rate">Taux pénalité 0</label>
                                <input type="number" class="form-control" name="pr0Rate" id="field_pr0Rate"
                                       formControlName="pr0Rate"/>
                                <div
                                    *ngIf="editForm.get('pr0Rate')!.invalid && (editForm.get('pr0Rate')!.dirty || editForm.get('pr0Rate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('pr0Rate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr0Rate')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr0Rate')?.errors?.min && !editForm.get('pr0Rate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_pr1Rate">Taux pénalité 1</label>
                                <input type="number" class="form-control" name="pr1Rate" id="field_pr1Rate"
                                       formControlName="pr1Rate"/>
                                <div
                                    *ngIf="editForm.get('pr1Rate')!.invalid && (editForm.get('pr1Rate')!.dirty || editForm.get('pr1Rate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('pr1Rate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr1Rate')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr1Rate')?.errors?.min && !editForm.get('pr1Rate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_pr2Rate">Taux pénalité 2</label>
                                <input type="number" class="form-control" name="pr2Rate" id="field_pr2Rate"
                                       formControlName="pr2Rate"/>
                                <div
                                    *ngIf="editForm.get('pr2Rate')!.invalid && (editForm.get('pr2Rate')!.dirty || editForm.get('pr2Rate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('pr2Rate')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr2Rate')?.errors?.number">
                                        This field should be a number.
                                    </small>

                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('pr2Rate')?.errors?.min && !editForm.get('pr2Rate')?.errors?.max">
                                        Rate should be between 0% and 100%
                                    </small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_maxS1">Score minimal</label>
                                <input type="number" class="form-control" name="maxS1" id="field_maxS1"
                                       formControlName="maxS1"/>
                                <div
                                    *ngIf="editForm.get('maxS1')!.invalid && (editForm.get('maxS1')!.dirty || editForm.get('maxS1')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('maxS1')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxS1')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
<!--                            <div class="col">-->
<!--                                <label class="form-control-label" for="field_maxS2">Montant maximum segment 2</label>-->
<!--                                <input type="number" class="form-control" name="maxS2" id="field_maxS2"-->
<!--                                       formControlName="maxS2"/>-->
<!--                                <div-->
<!--                                    *ngIf="editForm.get('maxS2')!.invalid && (editForm.get('maxS2')!.dirty || editForm.get('maxS2')!.touched)">-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           *ngIf="editForm.get('maxS2')?.errors?.required">-->
<!--                                        This field is required.-->
<!--                                    </small>-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           [hidden]="!editForm.get('maxS2')?.errors?.number">-->
<!--                                        This field should be a number.-->
<!--                                    </small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <label class="form-control-label" for="field_maxS3">Montant maximum segment 3</label>-->
<!--                                <input type="number" class="form-control" name="maxS3" id="field_maxS3"-->
<!--                                       formControlName="maxS3"/>-->
<!--                                <div-->
<!--                                    *ngIf="editForm.get('maxS3')!.invalid && (editForm.get('maxS3')!.dirty || editForm.get('maxS3')!.touched)">-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           *ngIf="editForm.get('maxS3')?.errors?.required">-->
<!--                                        This field is required.-->
<!--                                    </small>-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           [hidden]="!editForm.get('maxS3')?.errors?.number">-->
<!--                                        This field should be a number.-->
<!--                                    </small>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <label class="form-control-label" for="field_maxS4">Montant maximum segment 4</label>-->
<!--                                <input type="number" class="form-control" name="maxS4" id="field_maxS4"-->
<!--                                       formControlName="maxS4"/>-->
<!--                                <div-->
<!--                                    *ngIf="editForm.get('maxS4')!.invalid && (editForm.get('maxS4')!.dirty || editForm.get('maxS4')!.touched)">-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           *ngIf="editForm.get('maxS4')?.errors?.required">-->
<!--                                        This field is required.-->
<!--                                    </small>-->
<!--                                    <small class="form-text text-danger"-->
<!--                                           [hidden]="!editForm.get('maxS4')?.errors?.number">-->
<!--                                        This field should be a number.-->
<!--                                    </small>-->

<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_minRepayment">Remboursement minimum</label>
                                <input type="number" class="form-control" name="minRepayment" id="field_minRepayment"
                                       formControlName="minRepayment"/>
                                <div
                                    *ngIf="editForm.get('minRepayment')!.invalid && (editForm.get('minRepayment')!.dirty || editForm.get('minRepayment')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('minRepayment')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('minRepayment')?.errors?.number">
                                        This field should be a number.
                                    </small>
                                    <div
                                        *ngIf="editForm.get('minRepayment')!.invalid && (editForm.get('minRepayment')!.dirty || editForm.get('minRepayment')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('minRepayment')?.errors?.min">
                                            At least 100 FCFA for repayments
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <div>
                            <span>Critéres de base d'éligibilité</span>
                        </div>
                    </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_freeSeniority">Ancienneté minimum
                                    Free</label>
                                <input type="number" class="form-control" name="freeSeniority" id="field_freeSeniority"
                                       formControlName="freeSeniority"/>
                                <div *ngIf="editForm.get('freeSeniority')!.invalid && (editForm.get('freeSeniority')!.dirty || editForm.get('freeSeniority')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('freeSeniority')?.errors?.min && !editForm.get('freeSeniority')?.errors?.max">
                                        Minimum seniority between 1 and 999 months
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_freemoneySeniority">Ancienneté minimum
                                    Freemoney</label>
                                <input type="number" class="form-control" name="freemoneySeniority"
                                       id="field_freemoneySeniority"
                                       formControlName="freemoneySeniority"/>
                                <div *ngIf="editForm.get('freemoneySeniority')!.invalid && (editForm.get('freemoneySeniority')!.dirty || editForm.get('freemoneySeniority')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('freemoneySeniority')?.errors?.min && !editForm.get('freemoneySeniority')?.errors?.max">
                                        Minimum seniority between 1 and 999 months
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_minCustAge">Age minimum du client</label>
                                <input type="number" class="form-control" name="minCustAge" id="field_minCustAge"
                                       formControlName="minCustAge"/>
                                <div *ngIf="editForm.get('minCustAge')!.invalid && (editForm.get('minCustAge')!.dirty || editForm.get('minCustAge')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('minCustAge')?.errors?.min && !editForm.get('minCustAge')?.errors?.max">
                                        Age between 15 and 99 yo
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_maxCustAge">Age maximum du client</label>
                                <input type="number" class="form-control" name="maxCustAge" id="field_maxCustAge"
                                       formControlName="maxCustAge"/>
                                <div *ngIf="editForm.get('maxCustAge')!.invalid && (editForm.get('maxCustAge')!.dirty || editForm.get('maxCustAge')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxCustAge')?.errors?.min && !editForm.get('maxCustAge')?.errors?.max">
                                        Age between 15 and 99 yo
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label class="form-control-label" for="field_maxSimultaneousLoan">Maximum de pret
                                    simultané</label>
                                <input type="number" class="form-control" name="maxSimultaneousLoan"
                                       id="field_maxSimultaneousLoan"
                                       formControlName="maxSimultaneousLoan"/>
                                <div *ngIf="editForm.get('maxSimultaneousLoan')!.invalid && (editForm.get('maxSimultaneousLoan')!.dirty || editForm.get('maxSimultaneousLoan')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxSimultaneousLoan')?.errors?.min && !editForm.get('maxSimultaneousLoan')?.errors?.max">
                                        Between 1 and 9
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_maxLoanPerDate">Maximum de pret par
                                    jour</label>
                                <input type="number" class="form-control" name="maxLoanPerDate"
                                       id="field_maxLoanPerDate"
                                       formControlName="maxLoanPerDate"/>
                                <div *ngIf="editForm.get('maxLoanPerDate')!.invalid && (editForm.get('maxLoanPerDate')!.dirty || editForm.get('maxLoanPerDate')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxLoanPerDate')?.errors?.min && !editForm.get('maxLoanPerDate')?.errors?.max">
                                        Between 1 and 9
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_minAmount">Montant minimum</label>
                                <input type="number" class="form-control" name="minAmount" id="field_minAmount"
                                       formControlName="minAmount"/>
                                <div *ngIf="editForm.get('minAmount')!.invalid && (editForm.get('minAmount')!.dirty || editForm.get('minAmount')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('minAmount')?.errors?.min && !editForm.get('minAmount')?.errors?.max">
                                        Between 1000 and 999999
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_maxAmount">Montant maximum</label>
                                <input type="number" class="form-control" name="maxAmount" id="field_maxAmount"
                                       formControlName="maxAmount"/>
                                <div *ngIf="editForm.get('maxAmount')!.invalid && (editForm.get('maxAmount')!.dirty || editForm.get('maxAmount')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxAmount')?.errors?.min && !editForm.get('maxAmount')?.errors?.max">
                                        Between 1000 and 999999
                                    </small>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label class="form-control-label" for="field_maxCurrentBalance">Balance maximum
                                    autorisée</label>
                                <input type="number" class="form-control" name="maxCurrentBalance"
                                       id="field_maxCurrentBalance"
                                       formControlName="maxCurrentBalance"/>
                                <div *ngIf="editForm.get('maxCurrentBalance')!.invalid && (editForm.get('maxCurrentBalance')!.dirty || editForm.get('maxCurrentBalance')!.touched)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('maxCurrentBalance')?.errors?.min && !editForm.get('maxCurrentBalance')?.errors?.max">
                                        Between 0 and 999999
                                    </small>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>

                    </div>
                </fieldset>


                <fieldset>
                    <legend>
                        <div>
                            <span>Personne à contacter</span>
                        </div>
                    </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_msisdnAdmin">Msisdn Administrateur</label>
                                <input type="text" class="form-control" name="msisdnAdmin" id="field_msisdnAdmin"
                                       formControlName="msisdnAdmin"/>

                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('msisdnAdmin')?.errors?.maxlength">
                                    Numéro téléphone doit avoir au max 9 charatéres.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('msisdnAdmin')?.errors?.minlength">
                                    Numéro téléphone doit avoir au minimum 9 charatéres.
                                </small>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_emailAdmin">Email Administrateur</label>
                                <input type="text" class="form-control" name="emailAdmin" id="field_emailAdmin"
                                       formControlName="emailAdmin"/>
                                <div
                                    *ngIf="editForm.get('emailAdmin')!.invalid && (editForm.get('emailAdmin')!.dirty || editForm.get('emailAdmin')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('emailAdmin')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('emailAdmin')?.errors?.email">
                                        Email must be valid.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <div>
                            <span>Informations des wallets</span>
                        </div>
                    </legend>
                    <div class="form-group" formGroupName="loanWallet">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_loanMsisdnWallet">Loan Msisdn
                                    Wallet</label>
                                <input type="number" class="form-control" name="loanWalletMsisdn"
                                       id="field_loanMsisdnWallet"
                                       formControlName="msisdn"/>
                                <div
                                    *ngIf="editForm.get('loanWallet.msisdn')!.invalid && (editForm.get('loanWallet.msisdn')!.dirty || editForm.get('emailAdmin')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('loanWallet.msisdn')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('loanWallet.msisdn')?.errors?.pattern">
                                        Not a valid MSISDN
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_loanPinWallet">Loan Pin Wallet</label>
                                <input type="password" pattern="[0-9]{4}|.{172}" inputmode="numeric" class="form-control" name="loanWalletPin" id="field_loanPinWallet"
                                       formControlName="pin"/>
                                <div
                                    *ngIf="editForm.get('loanWallet.pin')!.invalid && (editForm.get('loanWallet.pin')!.dirty || editForm.get('loanWallet.pin')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('loanWallet.pin')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('loanWallet.pin')?.errors?.pattern">
                                        Not a valid PIN
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group" formGroupName="repaymentWallet">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_repaymentMsisdnWallet">Repayment Msisdn
                                    Wallet</label>
                                <input type="number" class="form-control" name="repaymentWalletMsisdn"
                                       id="field_repaymentMsisdnWallet"
                                       formControlName="msisdn"/>
                                <div
                                    *ngIf="editForm.get('repaymentWallet.msisdn')!.invalid && (editForm.get('repaymentWallet.msisdn')!.dirty || editForm.get('repaymentWallet.msisdn')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('repaymentWallet.msisdn')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('repaymentWallet.msisdn')?.errors?.pattern">
                                        Not a valid MSISDN
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_repaymentPinWallet">Repaymet Pin
                                    Wallet</label>
                                <input type="password" pattern="[0-9]{4}|.{172}" inputmode="numeric" class="form-control" name="repaymentWalletPin"
                                       id="field_repaymentPinWallet"
                                       formControlName="pin"/>
                                <div
                                    *ngIf="editForm.get('repaymentWallet.pin')!.invalid && (editForm.get('repaymentWallet.pin')!.dirty || editForm.get('repaymentWallet.pin')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('repaymentWallet.pin')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('repaymentWallet.pin')?.errors?.pattern">
                                        Not a valid PIN
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group" formGroupName="feesWallet">
                        <div class="row">
                            <div class="col">
                                <label class="form-control-label" for="field_feesMsisdnWallet">Fees Msisdn
                                    Wallet</label>
                                <input type="number" class="form-control" name="feesWalletMsisdn"
                                       id="field_feesMsisdnWallet"
                                       formControlName="msisdn"/>
                                <div
                                    *ngIf="editForm.get('feesWallet.msisdn')!.invalid && (editForm.get('feesWallet.msisdn')!.dirty || editForm.get('feesWallet.msisdn')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesWallet.msisdn')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesWallet.msisdn')?.errors?.pattern">
                                        Not a valid MSISDN.
                                    </small>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-control-label" for="field_feesPinWallet">Fees Pin Wallet</label>
                                <input type="password" pattern="[0-9]{4}|.{172}" inputmode="numeric" class="form-control" name="feesWalletPin" id="field_feesPinWallet"
                                       formControlName="pin"/>
                                <div
                                    *ngIf="editForm.get('feesWallet.pin')!.invalid && (editForm.get('feesWallet.pin')!.dirty || editForm.get('feesWallet.pin')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesWallet.pin')?.errors?.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('feesWallet.pin')?.errors?.pattern">
                                        Not a valid PIN
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
