<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span>Offer</span> {{ offer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Tenant Id</span></dt>
                <dd>
                    <span>{{ offer.tenantId }}</span>
                </dd>
                <dt><span>Offer Name</span></dt>
                <dd>
                    <span>{{ offer.offerName }}</span>
                </dd>
                <dt><span>Activated</span></dt>
                <dd>
                    <span>{{ offer.activated }}</span>
                </dd>
                <dt><span>Free Seniority</span></dt>
                <dd>
                    <span>{{ offer.freeSeniority }}</span>
                </dd>
                <dt><span>Freemoney Seniority</span></dt>
                <dd>
                    <span>{{ offer.freemoneySeniority }}</span>
                </dd>
                <dt><span>Default Loan Duration</span></dt>
                <dd>
                    <span>{{ offer.defaultLoanDuration }}</span>
                </dd>
                <dt><span>Min Cust Age</span></dt>
                <dd>
                    <span>{{ offer.minCustAge }}</span>
                </dd>
                <dt><span>Max Cust Age</span></dt>
                <dd>
                    <span>{{ offer.maxCustAge }}</span>
                </dd>
                <dt><span>Max Simultaneous Loan</span></dt>
                <dd>
                    <span>{{ offer.maxSimultaneousLoan }}</span>
                </dd>
                <dt><span>Max Loan Per Date</span></dt>
                <dd>
                    <span>{{ offer.maxLoanPerDate }}</span>
                </dd>
                <dt><span>Max Current Balance</span></dt>
                <dd>
                    <span>{{ offer.maxCurrentBalance }}</span>
                </dd>
                <dt><span>Min Amount</span></dt>
                <dd>
                    <span>{{ offer.minAmount }}</span>
                </dd>
                <dt><span>Max Amount</span></dt>
                <dd>
                    <span>{{ offer.maxAmount }}</span>
                </dd>
                <dt><span>Total Fees Rate</span></dt>
                <dd>
                    <span>{{ offer.totalFeesRate }}</span>
                </dd>
                <dt><span>Min Repayment</span></dt>
                <dd>
                    <span>{{ offer.minRepayment }}</span>
                </dd>
                <dt><span>Pr 0 Rate</span></dt>
                <dd>
                    <span>{{ offer.pr0Rate }}</span>
                </dd>
                <dt><span>Pr 1 Rate</span></dt>
                <dd>
                    <span>{{ offer.pr1Rate }}</span>
                </dd>
                <dt><span>Pr 2 Rate</span></dt>
                <dd>
                    <span>{{ offer.pr2Rate }}</span>
                </dd>
                <dt><span>Msisdn Admin</span></dt>
                <dd>
                    <span>{{ offer.msisdnAdmin }}</span>
                </dd>
                <dt><span>Email Admin</span></dt>
                <dd>
                    <span>{{ offer.emailAdmin }}</span>
                </dd>
                <dt><span>Loan Wallet</span></dt>
                <dd>
                    <div *ngIf="offer.loanWalletId">
                        <a [routerLink]="['/wallet', offer.loanWalletId, 'view']">{{ offer.loanWalletId }}</a>
                    </div>
                </dd>
                <dt><span>Repayment Wallet</span></dt>
                <dd>
                    <div *ngIf="offer.repaymentWalletId">
                        <a [routerLink]="['/wallet', offer.repaymentWalletId, 'view']">{{ offer.repaymentWalletId }}</a>
                    </div>
                </dd>
                <dt><span>Fees Wallet</span></dt>
                <dd>
                    <div *ngIf="offer.feesWalletId">
                        <a [routerLink]="['/wallet', offer.feesWalletId, 'view']">{{ offer.feesWalletId }}</a>
                    </div>
                </dd>
                <dt><span>Fees Freemoney Rate</span></dt>
                <dd>
                    <span>{{ offer.feesFreeMoneyRate }}</span>
                </dd>
                <dt><span>Fees Bank Rate</span></dt>
                <dd>
                    <span>{{ offer.feesBankRate }}</span>
                </dd>
                <dt><span>Nombre de jour pR1</span></dt>
                <dd>
                    <span>{{ offer.nbJourPr1 }}</span>
                </dd>
                <dt><span>Nombre de jour pR2</span></dt>
                <dd>
                    <span>{{ offer.nbJourPr2 }}</span>
                </dd>
                <dt><span>Rappel pR0</span></dt>
                <dd>
                    <span>{{ offer.rappelPr0 }}</span>
                </dd>
                <dt><span>Rappel pR1</span></dt>
                <dd>
                    <span>{{ offer.rappelPr1 }}</span>
                </dd>
                <dt><span>Rappel pR2</span></dt>
                <dd>
                    <span>{{ offer.rappelPr2 }}</span>
                </dd>
                <dt><span>Score minimal scoring</span></dt>
                <dd>
                    <span>{{ offer.maxS1 }}</span>
                </dd>
<!--                <dt><span>Montan Maximum Segment 2</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{ offer.maxS2 }}</span>-->
<!--                </dd>-->
<!--                <dt><span>Montan Maximum Segment 3</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{ offer.maxS3 }}</span>-->
<!--                </dd>-->
<!--                <dt><span>Montan Maximum Segment 4</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{ offer.maxS4 }}</span>-->
<!--                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
