<div>
    <h2 id="page-heading">
        <span>Loan Files</span>

        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-loan-file" [routerLink]="['/loan-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Loan File
            </span>
        </button>-->
        <button id="jh-initialize-entity" class="btn btn-success float-right" type="submit" (click)="initializeSearch()">
            <fa-icon icon="sign-out-alt"></fa-icon>
            <span>
            Initialiser
            </span>
        </button>
        <button id="jh-search-entity" class="btn btn-primary float-right jh-create-entity create-loan-file" type="submit" (click)="loadPageSearch()">
            <fa-icon icon="search"></fa-icon>
            <span>
            Rechercher
            </span>
        </button>
    </h2>
    <div class="row">
        <div class="col-2">
            <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn">
        </div>

        <div class="col-2">
            <input type="text" [(ngModel)]="offer" class="form-control" placeholder="Offer">
        </div>


        <div class="col-2">
            <select class="form-control" [(ngModel)]="status" name="status" id="field_grantingStatus">
                <option value="GRANTED">GRANTED</option>
                <option value="NOT_GRANTED">NOT_GRANTED</option>
                <option value="FAILED">FAILED</option>
                <option value="SUBMITTED">SUBMITTED</option>
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="GRANTED_W_ERROR">GRANTED_W_ERROR</option>
                <option value="ROLLEDBACK">ROLLEDBACK</option>
                <option value="ROLLED_BACK_W_ERROR">ROLLED_BACK_W_ERROR</option>
            </select>
        </div>
        <div class="col-3">
<!--            <input type="text" placeholder="De: jj/MM/aaaa HH:MM:SS"-->
<!--            onfocus="(this.type='dateTime')" [(ngModel)]="debut"-->
<!--            onblur="(this.type='text')" class="form-control">-->
            <input type="datetime-local" [(ngModel)]="debut" class="form-control">
        </div>
        <div class="col-3">
<!--            <input type="text" placeholder="A: jj/MM/aaaa"-->
<!--            onfocus="(this.type='datetime')" [(ngModel)]="fin"-->
<!--            onblur="(this.type='text')" class="form-control" >-->
            <input type="datetime-local" [(ngModel)]="fin" class="form-control">
        </div>
    </div>
    <p></p>


    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="loanFiles?.length === 0">
        <span>No loanFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="loanFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerSlug"><span>Offer Slug</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="balance"><span>Balance</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="idType"><span>Id Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idNumber"><span>Id Number</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="eligibilityScore"><span>Eligibility Score</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="grantedAmount"><span>Granted Amount</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="fees"><span>Fees</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col" ><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" ><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grantingStatus"><span>Granting Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loanFile of loanFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/loan-file', loanFile.id, 'view']">{{ loanFile.id }}</a></td>
                    <td>{{ loanFile.msisdn }}</td>
                    <td>{{ loanFile.offerSlug }}</td>
<!--                    <td>{{ loanFile.balance }}</td>-->
                    <td>{{ loanFile.idType }}</td>
                    <td>{{ loanFile.idNumber }}</td>
<!--                    <td>{{ loanFile.eligibilityScore }}</td>-->
                    <td>{{ loanFile.amount }}</td>
<!--                    <td>{{ loanFile.grantedAmount }}</td>-->
<!--                    <td>{{ loanFile.fees }}</td>-->
                    <td>{{ loanFile.createdDate }}</td>
                    <td>{{ loanFile.lastModifiedDate }}</td>
                    <td>{{ loanFile.grantingStatus }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/loan-file', loanFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!--<button type="submit"
                                    [routerLink]="['/loan-file', loanFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(loanFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="loanFiles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageSearch($event)"></ngb-pagination>
        </div>
    </div>
</div>
