<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="loanFile">
            <h2><span>Loan File</span> {{ loanFile.id }}</h2>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Msisdn</span></dt>
                                    <dd>
                                        <span>{{ loanFile.msisdn }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Amount</span></dt>
                                    <dd>
                                        <span>{{ loanFile.amount }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Offer Slug</span></dt>
                                    <dd>
                                        <span>{{ loanFile.offerSlug }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Balance</span></dt>
                                    <dd>
                                        <span>{{ loanFile.balance }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Id Type</span></dt>
                                    <dd>
                                        <span>{{ loanFile.idType }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Id Number</span></dt>
                                    <dd>
                                        <span>{{ loanFile.idNumber }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Eligibility Score</span></dt>
                                    <dd>
                                        <span>{{ loanFile.eligibilityScore }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Granting Status</span></dt>
                                    <dd>
                                        <span>{{ loanFile.grantingStatus }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Fees</span></dt>
                                    <dd>
                                        <span>{{ loanFile.fees }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Granted Amount</span></dt>
                                    <dd>
                                        <span>{{ loanFile.grantedAmount }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Granting Message</span></dt>
                                    <dd>
                                        <span>{{ loanFile.grantingMessage }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Granting Process Message</span></dt>
                                    <dd>
                                        <span>{{ loanFile.grantingProcessMessage }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Repayment Id</span></dt>
                                    <dd>
                                        <a *ngIf="loanFile.repaymentId != null" [routerLink]="['/repayment-file', loanFile.repaymentId, 'view']">{{ loanFile.repaymentId }}</a>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Repayment Log</span></dt>
                                    <dd>
                                        <span *ngIf="loanFile.repaymentLog != null">{{ loanFile.repaymentLog }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Created Date</span></dt>
                                    <dd>
                                        <span>{{ loanFile.createdDate }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Last Modified Date</span></dt>
                                    <dd>
                                        <span>{{ loanFile.lastModifiedDate }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </dl>
            <jhi-ume-transfer [loanfileID]="loanFile.id"></jhi-ume-transfer>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/loan-file', loanFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>-->
        </div>
    </div>
</div>
