<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-loan-file-heading">Create or edit a Loan File</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_msisdn">Msisdn</label>
                    <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                           formControlName="msisdn"/>
                    <div *ngIf="editForm.get('msisdn')!.invalid && (editForm.get('msisdn')!.dirty || editForm.get('msisdn')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('msisdn')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_offerSlug">Offer Slug</label>
                    <input type="text" class="form-control" name="offerSlug" id="field_offerSlug"
                           formControlName="offerSlug"/>
                    <div *ngIf="editForm.get('offerSlug')!.invalid && (editForm.get('offerSlug')!.dirty || editForm.get('offerSlug')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('offerSlug')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                           formControlName="balance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_idType">Id Type</label>
                    <select class="form-control" name="idType" formControlName="idType" id="field_idType">
                        <option value="CNI">CNI</option>
                        <option value="PASSPORT">PASSPORT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_idNumber">Id Number</label>
                    <input type="text" class="form-control" name="idNumber" id="field_idNumber"
                           formControlName="idNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_eligibilityScore">Eligibility Score</label>
                    <input type="number" class="form-control" name="eligibilityScore" id="field_eligibilityScore"
                           formControlName="eligibilityScore"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_grantingStatus">Granting Status</label>
                    <select class="form-control" name="grantingStatus" formControlName="grantingStatus" id="field_grantingStatus">
                        <option value="GRANTED">GRANTED</option>
                        <option value="NOT_GRANTED">NOT_GRANTED</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fees">Fees</label>
                    <input type="number" class="form-control" name="fees" id="field_fees"
                           formControlName="fees"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_grantedAmount">Granted Amount</label>
                    <input type="number" class="form-control" name="grantedAmount" id="field_grantedAmount"
                           formControlName="grantedAmount"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
