<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repaymentTransfer">
            <h2><span>Repayment Transfer</span> {{ repaymentTransfer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Source Wallet</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.sourceWallet }}</span>
                </dd>
                <dt><span>Target Wallet</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.targetWallet }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.amount }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.type }}</span>
                </dd>
                <dt><span>Payment State</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.paymentState }}</span>
                </dd>
                <dt><span>Payment Tx Id</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.paymentTxId }}</span>
                </dd>
                <dt><span>Payment Message</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.paymentMessage }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.createdDate }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ repaymentTransfer.lastModifiedDate }}</span>
                </dd>
                <dt><span>Repayment File</span></dt>
                <dd>
                    <div *ngIf="repaymentTransfer.repaymentFileId">
                        <a [routerLink]="['/repayment-file', repaymentTransfer.repaymentFileId, 'view']">{{ repaymentTransfer.repaymentFileId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/repayment-transfer', repaymentTransfer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>-->
        </div>
    </div>
</div>
