<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="repaymentFile">
            <!--<h2><span>Repayment File</span> {{ repaymentFile.id }}</h2>
            <h2><span>En Cours</span>  {{ repaymentFile.capitalOutstanding }} + {{ repaymentFile.feesOutstanding }} + {{ repaymentFile.pr1Outstanding }} + {{ repaymentFile.pr2Outstanding }}</h2>-->
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <h2><span>Repayment File</span> {{ repaymentFile.id }}</h2>
                        <dd>

                        </dd>
                    </div>
                    <div class="col float-right">
                        <h2><span>Encours du prêt</span> <span class="badge badge-success">{{ enCours }} FCFA</span></h2>
                        <dd>

                        </dd>
                    </div>
                </div>
            </div>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Loan File ID</span></dt>
                                    <dd>
                                        <span><a [routerLink]="['/loan-file', repaymentFile.loanFileID, 'view']">{{ repaymentFile.loanFileID }}</a></span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Initial Capital</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.initialCapital }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Due Date</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.dueDate }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Application Fees</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.applicationFees }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Pr 2 Fees</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr2Fees }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Capital Outstanding</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.capitalOutstanding }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Fees Outstanding</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.feesOutstanding }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Pr 1 Outstanding</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr1Outstanding }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Pr 2 Outstanding</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr2Outstanding }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Repayment State</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.repaymentState }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Repayment Status</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.repaymentStatus }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Due Date</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.dueDate }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Msisdn</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.msisdn }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Offer</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.offerSlug }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Default Loan Duration</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.defaultLoanDuration }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Nbr Jour Pr1</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.nbJourPr1 }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Nbr Jour Pr2</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.nbJourPr2 }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Taux Pr0</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr0Rate }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Taux Pr1</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr1Rate }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Taux Pr2</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.pr2Rate }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Rappel Pr0</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.rappelPr0 }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Rappel Pr1</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.rappelPr1 }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Rappel Pr2</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.rappelPr2 }}</span>
                                    </dd>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <dt><span>Created Date</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.createdDate }}</span>
                                    </dd>
                                </div>
                                <div class="col">
                                    <dt><span>Last Modified Date</span></dt>
                                    <dd>
                                        <span>{{ repaymentFile.lastModifiedDate }}</span>
                                    </dd>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </dl>

            <jhi-repayment-transfer  [repaymentfileID]="repaymentFile.id"></jhi-repayment-transfer>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/repayment-file', repaymentFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>-->
        </div>
    </div>
</div>
