<div>
    <h2 id="page-heading">
        <span>Repayment Files</span>

        <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-repayment-file" [routerLink]="['/repayment-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Repayment File
            </span>
        </button>-->
        <button id="jh-initialize-entity" class="btn btn-success float-right" type="submit" (click)="initializeSearch()">
            <fa-icon icon="sign-out-alt"></fa-icon>
            <span>
            Initialiser
            </span>
        </button>
        <button id="jh-search-entity" class="btn btn-primary float-right jh-create-entity create-loan-file" type="submit" (click)="loadPageSearch()">
            <fa-icon icon="search"></fa-icon>
            <span>
            Rechercher
            </span>
        </button>
    </h2>
    <div class="row">
        <div class="col-2">
            <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn">
        </div>

        <div class="col-2">
            <select class="form-control" [(ngModel)]="repaymentState" name="state" id="field_state">
                <option value="ENCOURS">ENCOURS</option>
                <option value="PR1">PR1</option>
                <option value="PR2">PR2</option>
                <option value="WRITE_OFF">WRITE_OFF</option>
                <option value="CLOSED">CLOSED</option>
            </select>
        </div>
        <div class="col-2">
            <select class="form-control" [(ngModel)]="repaymentStatus" name="status" id="field_status">
                <option value="NA">NA</option>
                <option value="IN_ADVANCE">IN_ADVANCE</option>
<!--                <option value="TERM">TERM</option>-->
<!--                <option value="UTIMATELY">UTIMATELY</option>-->
                <option value="PR1">PR1</option>
                <option value="PR2">PR2</option>
                <option value="RECOVERED">RECOVERED</option>
                <option value="OVERDUE">OVERDUE</option>
            </select>

        </div>
        <div class="col-3">
<!--            <input type="text" placeholder="De:   jj/mm/aaaa"-->
<!--            onfocus="(this.type='date')" [(ngModel)]="debut"-->
<!--            onblur="(this.type='text')" class="form-control">-->
            <input type="datetime-local" [(ngModel)]="debut" class="form-control">
        </div>
        <div class="col-3">
<!--            <input type="text" placeholder="A:   jj/mm/aaaa"-->
<!--            onfocus="(this.type='date')" [(ngModel)]="fin"-->
<!--            onblur="(this.type='text')" class="form-control" >-->
            <input type="datetime-local" [(ngModel)]="fin" class="form-control">
        </div>
    </div>
    <p></p>


    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="repaymentFiles?.length === 0">
        <span>No repaymentFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="repaymentFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="initialCapital"><span>Initial Capital</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="initialDueDate"><span>Initial Due Date</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="applicationFees"><span>Application Fees</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pr1Fees"><span>Pr 1 Fees</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pr2Fees"><span>Pr 2 Fees</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="capitalOutstanding"><span>Capital Outstanding</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="feesOutstanding"><span>Fees Outstanding</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="pr1Outstanding"><span>Pr 1 Outstanding</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="pr2Outstanding"><span>Pr 2 Outstanding</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="dueDate"><span>Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repaymentState"><span>Repayment State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repaymentStatus"><span>Repayment Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repaymentFile of repaymentFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/repayment-file', repaymentFile.id, 'view']">{{ repaymentFile.id }}</a></td>
                    <td>{{ repaymentFile.msisdn }}</td>
                    <td>{{ repaymentFile.initialCapital }}</td>
<!--                    <td>{{ repaymentFile.initialDueDate | date:'medium' }}</td>-->
                    <td>{{ repaymentFile.applicationFees }}</td>
                    <td>{{ repaymentFile.pr1Fees }}</td>
                    <td>{{ repaymentFile.pr2Fees }}</td>
<!--                    <td>{{ repaymentFile.capitalOutstanding }}</td>-->
<!--                    <td>{{ repaymentFile.feesOutstanding }}</td>-->
<!--                    <td>{{ repaymentFile.pr1Outstanding }}</td>-->
<!--                    <td>{{ repaymentFile.pr2Outstanding }}</td>-->
                    <td>{{ repaymentFile.dueDate }}</td>
                    <td>{{ repaymentFile.createdDate }}</td>
                    <td>{{ repaymentFile.lastModifiedDate }}</td>
                    <td>{{ repaymentFile.repaymentState }}</td>
                    <td>{{ repaymentFile.repaymentStatus }}</td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/repayment-file', repaymentFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!--<button type="submit"
                                    [routerLink]="['/repayment-file', repaymentFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(repaymentFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="repaymentFiles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPageSearch($event)"></ngb-pagination>
        </div>
    </div>
</div>
