<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-repayment-file-heading">Create or edit a Repayment File</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_loanFileID">Loan File ID</label>
                    <input type="number" class="form-control" name="loanFileID" id="field_loanFileID"
                           formControlName="loanFileID"/>
                    <div *ngIf="editForm.get('loanFileID')!.invalid && (editForm.get('loanFileID')!.dirty || editForm.get('loanFileID')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loanFileID')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('loanFileID')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_initialCapital">Initial Capital</label>
                    <input type="number" class="form-control" name="initialCapital" id="field_initialCapital"
                           formControlName="initialCapital"/>
                    <div *ngIf="editForm.get('initialCapital')!.invalid && (editForm.get('initialCapital')!.dirty || editForm.get('initialCapital')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('initialCapital')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('initialCapital')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_initialDueDate">Initial Due Date</label>
                    <div class="d-flex">
                        <input id="field_initialDueDate" type="datetime-local" class="form-control" name="initialDueDate" formControlName="initialDueDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('initialDueDate')!.invalid && (editForm.get('initialDueDate')!.dirty || editForm.get('initialDueDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('initialDueDate')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('initialDueDate')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_applicationFees">Application Fees</label>
                    <input type="number" class="form-control" name="applicationFees" id="field_applicationFees"
                           formControlName="applicationFees"/>
                    <div *ngIf="editForm.get('applicationFees')!.invalid && (editForm.get('applicationFees')!.dirty || editForm.get('applicationFees')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('applicationFees')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('applicationFees')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pr1Fees">Pr 1 Fees</label>
                    <input type="number" class="form-control" name="pr1Fees" id="field_pr1Fees"
                           formControlName="pr1Fees"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pr2Fees">Pr 2 Fees</label>
                    <input type="number" class="form-control" name="pr2Fees" id="field_pr2Fees"
                           formControlName="pr2Fees"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_capitalOutstanding">Capital Outstanding</label>
                    <input type="number" class="form-control" name="capitalOutstanding" id="field_capitalOutstanding"
                           formControlName="capitalOutstanding"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_feesOutstanding">Fees Outstanding</label>
                    <input type="number" class="form-control" name="feesOutstanding" id="field_feesOutstanding"
                           formControlName="feesOutstanding"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pr1Outstanding">Pr 1 Outstanding</label>
                    <input type="number" class="form-control" name="pr1Outstanding" id="field_pr1Outstanding"
                           formControlName="pr1Outstanding"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pr2Outstanding">Pr 2 Outstanding</label>
                    <input type="number" class="form-control" name="pr2Outstanding" id="field_pr2Outstanding"
                           formControlName="pr2Outstanding"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_repaymentState">Repayment State</label>
                    <select class="form-control" name="repaymentState" formControlName="repaymentState" id="field_repaymentState">
                        <option value="ENCOURS">ENCOURS</option>
                        <option value="PR1">PR1</option>
                        <option value="PR2">PR2</option>
                        <option value="WRITE_OFF">WRITE_OFF</option>
                    </select>
                    <div *ngIf="editForm.get('repaymentState')!.invalid && (editForm.get('repaymentState')!.dirty || editForm.get('repaymentState')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('repaymentState')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_repaymentStatus">Repayment Status</label>
                    <select class="form-control" name="repaymentStatus" formControlName="repaymentStatus" id="field_repaymentStatus">
                        <option value="NA">NA</option>
                        <option value="IN_ADVANCE">IN_ADVANCE</option>
                        <option value="TERM">TERM</option>
                        <option value="UTIMATELY">UTIMATELY</option>
                        <option value="PR1">PR1</option>
                        <option value="PR2">PR2</option>
                        <option value="RECOVERED">RECOVERED</option>
                        <option value="OVERDUE">OVERDUE</option>
                    </select>
                    <div *ngIf="editForm.get('repaymentStatus')!.invalid && (editForm.get('repaymentStatus')!.dirty || editForm.get('repaymentStatus')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('repaymentStatus')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dueDate">Due Date</label>
                    <div class="d-flex">
                        <input id="field_dueDate" type="datetime-local" class="form-control" name="dueDate" formControlName="dueDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dueDate')!.invalid && (editForm.get('dueDate')!.dirty || editForm.get('dueDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dueDate')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dueDate')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
