<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span>Wallet</span> {{ wallet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{ wallet.msisdn }}</span>
                </dd>
                <dt><span>Pin</span></dt>
                <dd>
                    <span>{{ wallet.pin }}</span>
                </dd>
                <dt><span>Wallet Name</span></dt>
                <dd>
                    <span>{{ wallet.wallet_name }}</span>
                </dd>
                <dt><span>Wallet Type</span></dt>
                <dd>
                    <span>{{ wallet.wallet_type }}</span>
                </dd>
                <dt><span>Wallet Min Balance</span></dt>
                <dd>
                    <span>{{ wallet.wallet_min_balance }}</span>
                </dd>
                <dt><span>Wallet Max Balance</span></dt>
                <dd>
                    <span>{{ wallet.wallet_max_balance }}</span>
                </dd>
                <dt><span>Email Alerts Recipients To</span></dt>
                <dd>
                    <span>{{ wallet.email_alerts_recipients_to }}</span>
                </dd>
                <dt><span>Email Alerts Recipients Cc</span></dt>
                <dd>
                    <span>{{ wallet.email_alerts_recipients_cc }}</span>
                </dd>
                <dt><span>Email Min Wallet Alert Template</span></dt>
                <dd>
                    <span>{{ wallet.email_min_wallet_alert_template }}</span>
                </dd>
                <dt><span>Email Max Wallet Alert Template</span></dt>
                <dd>
                    <span>{{ wallet.email_max_wallet_alert_template }}</span>
                </dd>
                <dt><span>Sms Alert Recipients</span></dt>
                <dd>
                    <span>{{ wallet.sms_alert_recipients }}</span>
                </dd>
                <dt><span>Sms Min Wallet Alert Template</span></dt>
                <dd>
                    <span>{{ wallet.sms_min_wallet_alert_template }}</span>
                </dd>
                <dt><span>Sms Max Wallet Alert Template</span></dt>
                <dd>
                    <span>{{ wallet.sms_max_wallet_alert_template }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ wallet.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ wallet.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ wallet.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ wallet.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ wallet.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
