<div class="row">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-wallet-heading">Create or edit a Wallet</h2>

      <div class="row">
        <jhi-alert-error></jhi-alert-error>

        <div class="col-3">
          <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_msisdn">Msisdn</label>
            <input type="text" class="form-control" name="msisdn" id="field_msisdn" formControlName="msisdn" />
            <div *ngIf="editForm.get('msisdn')!.invalid && (editForm.get('msisdn')!.dirty || editForm.get('msisdn')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('msisdn')?.errors?.required">
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_pin">Pin</label>
            <input type="password" class="form-control" name="pin" id="field_pin" formControlName="pin" />
            <div *ngIf="editForm.get('pin')!.invalid && (editForm.get('pin')!.dirty || editForm.get('pin')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('pin')?.errors?.required">
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_pin2">Confirm Pin</label>
            <input
              type="password"
              class="form-control"
              name="confirmPin"
              id="field_pin2"
              formControlName="confirmPin"
              (keyup)="checkPassword()"
              [(ngModel)]="confirmPin"
            />
            <div *ngIf="check && !match">
              <small class="form-text text-danger">
                Password did not match
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_wallet_name">Wallet Name</label>
            <input type="text" class="form-control" name="wallet_name" id="field_wallet_name" formControlName="wallet_name" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_wallet_type">Wallet Type</label>
            <select class="form-control" name="wallet_type" formControlName="wallet_type" id="field_wallet_type" >
                <option value="FREE_MONEY_FEES">FREE_MONEY_FEES</option>
                <option value="BANK_FEES">BANK_FEES</option>
                <option value="BANK_CREDIT">BANK_CREDIT</option>
                <option value="BANK_REIMBURSEMENT">BANK_REIMBURSEMENT</option>
                <option value="OTHER">OTHER</option>
              </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label class="form-control-label" for="field_wallet_min_balance">Wallet Min Balance</label>
            <input
              type="number"
              class="form-control"
              name="wallet_min_balance"
              id="field_wallet_min_balance"
              formControlName="wallet_min_balance"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_email_min_wallet_alert_template">Email Min Wallet Alert Template</label>
            <input
              type="text"
              class="form-control"
              name="email_min_wallet_alert_template"
              id="field_email_min_wallet_alert_template"
              formControlName="email_min_wallet_alert_template"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_sms_min_wallet_alert_template">Sms Min Wallet Alert Template</label>
            <input
              type="text"
              class="form-control"
              name="sms_min_wallet_alert_template"
              id="field_sms_min_wallet_alert_template"
              formControlName="sms_min_wallet_alert_template"
            />
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label class="form-control-label" for="field_wallet_max_balance">Wallet Max Balance</label>
            <input
              type="number"
              class="form-control"
              name="wallet_max_balance"
              id="field_wallet_max_balance"
              formControlName="wallet_max_balance"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_email_max_wallet_alert_template">Email Max Wallet Alert Template</label>
            <input
              type="text"
              class="form-control"
              name="email_max_wallet_alert_template"
              id="field_email_max_wallet_alert_template"
              formControlName="email_max_wallet_alert_template"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_sms_max_wallet_alert_template">Sms Max Wallet Alert Template</label>
            <input
              type="text"
              class="form-control"
              name="sms_max_wallet_alert_template"
              id="field_sms_max_wallet_alert_template"
              formControlName="sms_max_wallet_alert_template"
            />
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label class="form-control-label" for="field_email_alerts_recipients_to">Email Alerts Recipients To</label>
            <input
              type="text"
              class="form-control"
              name="email_alerts_recipients_to"
              id="field_email_alerts_recipients_to"
              formControlName="email_alerts_recipients_to"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_email_alerts_recipients_cc">Email Alerts Recipients Cc</label>
            <input
              type="text"
              class="form-control"
              name="email_alerts_recipients_cc"
              id="field_email_alerts_recipients_cc"
              formControlName="email_alerts_recipients_cc"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_sms_alert_recipients">Sms Alert Recipients</label>
            <input
              type="text"
              class="form-control"
              name="sms_alert_recipients"
              id="field_sms_alert_recipients"
              formControlName="sms_alert_recipients"
            />
          </div>
        </div>

        <span [hidden]="true">
          <div class="form-group">
            <label class="form-control-label" for="field_spare1">Spare 1</label>
            <input type="text" class="form-control" name="spare1" id="field_spare1" formControlName="spare1" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_spare2">Spare 2</label>
            <input type="text" class="form-control" name="spare2" id="field_spare2" formControlName="spare2" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_spare3">Spare 3</label>
            <input type="text" class="form-control" name="spare3" id="field_spare3" formControlName="spare3" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_spare4">Spare 4</label>
            <input type="text" class="form-control" name="spare4" id="field_spare4" formControlName="spare4" />
          </div>

          <div class="form-group">
            <label class="form-control-label" for="field_spare5">Spare 5</label>
            <input type="text" class="form-control" name="spare5" id="field_spare5" formControlName="spare5" />
          </div>
        </span>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || (check && !match)" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
