<div>
    <h2 id="page-heading">
        <span>Wallets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wallet" [routerLink]="['/wallet/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Wallet
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="wallets?.length === 0">
        <span>No wallets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="wallets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wallet_name"><span>Wallet Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wallet_type"><span>Wallet Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wallet_min_balance"><span>Wallet Min Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="wallet_max_balance"><span>Wallet Max Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <span hidden=true>
                        <th scope="col"  jhiSortBy="email_alerts_recipients_to"><span>Email Alerts Recipients To</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="email_alerts_recipients_cc"><span>Email Alerts Recipients Cc</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="email_min_wallet_alert_template"><span>Email Min Wallet Alert Template</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="email_max_wallet_alert_template"><span>Email Max Wallet Alert Template</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="sms_alert_recipients"><span>Sms Alert Recipients</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="sms_min_wallet_alert_template"><span>Sms Min Wallet Alert Template</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="sms_max_wallet_alert_template"><span>Sms Max Wallet Alert Template</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th>
                    </span>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wallet of wallets ;trackBy: trackId">
                    <td>{{ wallet.msisdn }}</td>
                    <td>{{ wallet.wallet_name }}</td>
                    <td>{{ wallet.wallet_type }}</td>
                    <td>{{ wallet.wallet_min_balance }}</td>
                    <td>{{ wallet.wallet_max_balance }}</td>
                    <span hidden=true>
                        <td>{{ wallet.email_alerts_recipients_to }}</td>
                        <td>{{ wallet.email_alerts_recipients_cc }}</td>
                        <td>{{ wallet.email_min_wallet_alert_template }}</td>
                        <td>{{ wallet.email_max_wallet_alert_template }}</td>
                        <td>{{ wallet.sms_alert_recipients }}</td>
                        <td>{{ wallet.sms_min_wallet_alert_template }}</td>
                        <td>{{ wallet.sms_max_wallet_alert_template }}</td>
                        <td>{{ wallet.spare1 }}</td>
                        <td>{{ wallet.spare2 }}</td>
                        <td>{{ wallet.spare3 }}</td>
                        <td>{{ wallet.spare4 }}</td>
                        <td>{{ wallet.spare5 }}</td>
                    </span>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/wallet', wallet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/wallet', wallet.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(wallet)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="wallets?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
