<div class="row">
    <div class="offset-md-3 col-md-9">
        <h1 class="display-4">Freemoney LOAN Platform</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <img src="/content/images/Free Money_Slider_2846x1132px_1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-3">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Vous êtes connecté en tant que "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous souhaitez </span>
                <a class="alert-link" (click)="login()">vous connecter</a><span>, utilisez vos credentials Windows de Free</span>
            </div>

            <div class="" *ngSwitchCase="false">
                <span>Des problèmes de connection ou soucis avec la plateforme ? </span>&nbsp;
                <a class="alert-link" href="mailto:G_TERTIO_ADMIN@free.sn">Envoyez un mail au support</a>
            </div>
        </div>
    </div>
</div>
